#ComputerScience {background-color: cadetblue; font-family:monospace; font-size:20;}

#Mathematics{background-color:darkgreen; font-family: sans-serif}

#Politics{background-color:darkseagreen; font-family:fantasy}

#Economics {background-color:forestgreen; font-family: serif}

#studioArt {background-color:yellowgreen; font-family: cursive; font-size: 16; text-align:end}

#landing {background-color:lawngreen; font-family:inherit;
}


